
@media all and (max-width: 800px)
{
    .inner-page
    {
        padding-top: 0 !important;
    }

    #navbar
    {
        visibility: hidden;
    }

    .miniformsheader
    {
        display:none !important;
        height:0px !important;
        visibility: hidden;
    }

    .miniName
    {
        width:80%;
        margin-left:150px;
        margin-right:150px;
        padding-left:500px;
    }

    .bigRowMiniCol
    {
        flex-direction: column;
    }

    .miniRow
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .bigdisappear
    {
        height: inherit !important;
        visibility: visible;
    }

    .miniAppear
    {
        /* antidote to 'content' */
        display:flex;
    }

    .minidisappear
    {
        height:0 !important;
        visibility: hidden;
        margin-top: 0 !important;
    }

    .miniHideMedias
    {
        height:0 !important;
        visibility: hidden;
        margin-top: 0 !important;
    }

    .miniforms
    {
        width: 100%;
        align-self: center;
    }

    .miniforms .section-title
    {
        font-size: 1.5rem;
    }

    .contact
    {
        padding: 0 0 40px 0;
    }

    .miniBody
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .miniCrush
    {
        margin-left: 2px !important;
        margin-right: 2px !important;
    }

    .miniModalCrunch
    {
        padding-right: 320px;
        padding-left: 320px;
    }

    .miniModalForm
    {
        padding-left:120px; 
        padding-right:120px;
    }

    .miniTextarea
    {
        width:300px;
        margin-left:-100px;
    }

    .miniTransform
    {
        display:block;
    }

    .miniModalFooter
    {
        position: relative;
        justify-content: center;
        margin-right:0px;
    }

    .miniModalRealFooter
    {
        padding-left: 150px; 
        padding-right:150px;
    }

    .miniMargPady
    {
        margin-bottom:0 !important;
        margin-top:0 !important;
        padding-bottom:0 !important;
        padding-top:0 !important;
    }

    .miniReduce
    {
        font-size: 1rem;
    }

    .miniDetailsl5
    {
        padding: 150px;
    }

    .miniDetailsl3
    {
        padding: 70px;
    }

    .footer-adapt
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .footer-adapt>a
    {
        width: 40px;
        height: 40px;
        font-size: 40px;
    }

    footer .container,
    .miniarrows
    {
        display:none !important;
    }
}